
a:hover, a:active {
    color: lightgray;
  }
  
  
  mat-toolbar {
    background-color: #8a98e7;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: flex-end;  
  }

  .c {
    align-content: space-between;
   
 
  }