<section>
  <h2 class="text-center py-8 bold font-monserrat">
    Collection shared with me
  </h2>

  <ng-container *ngIf="collections$ | async as collections">
    <ng-container *ngIf="collections.length; else noCollections">
      <section class="pb-6">
        <app-card-container>
          <app-card
            *ngFor="let collection of collections"
            [image]="'assets/img/default_collection.jpg'"
            [title]="collection.name"
            [routerLink]="['/personal/collections', collection.id]"
          >
            <mat-icon card-icon>library_books</mat-icon>
            <div actions>
              <button
                color="warn"
                mat-icon-button
                (click)="deleteCollectionFromSharedList(collection.id, $event)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </app-card>
        </app-card-container>
      </section>
    </ng-container>
  </ng-container>
</section>

<ng-template #noCollections>
  <div class="d-flex justify-content-center mt-8">
    <h3 class="text-center">You don't have any collections shared with you</h3>
  </div>
</ng-template>
