<section>
    <div class="d-flex justify-content-between mt-8">
      <h2>Collection shared with me</h2>

    </div>
    <div class="d-flex" *ngIf="isCollectionSharedListIsEMpty() " > You don't have any collection shared with you
      
    
    <div class="d-grid grid-template-columns-5 gap-2 grid-columns">
      <mat-card class="card" *ngFor="let collection of (collections$ | async)">
          
        <mat-card-header >
          
          
          <mat-card-title-group><mat-icon>library_books</mat-icon>
            <mat-card-title class="pb-2"> {{ collection.name }} </mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <img
            mat-card-md-image
            class="mb-2"
            src="https://img4.goodfon.com/wallpaper/nbig/9/f2/plastinki-vinil-retro.jpg"
            alt="Image of a collection"
          />
  

          <a mat-button [routerLink]="['/personal/collections', collection.id ]">
            Go to collections details
          </a>
        </mat-card-content>
        <button mat-raised-button (click)="deleteCollectionFromSharedList(collection.id)">
           <mat-icon>delete</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
  </section>