<h1 mat-dialog-title class="text-center mt-4 mb-6">Add a collection</h1>

<section mat-dialog-content>
  <form [formGroup]="collectionFormData" class="d-grid gap-1 grid-template-columns-2">
    <mat-form-field class="form-field">
      <mat-label>name</mat-label>
      <input type="text" matInput formControlName="name" placeholder="Name" />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let string of genre" [value]="string.string">
          {{string.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Visile</mat-label>
      <input formControlName="visible" matInput placeholder="Visible" />
    </mat-form-field>
    
  </form>
</section>

<div mat-dialog-actions class="d-flex justify-content-center mb-6">
  <button mat-raised-button color="primary" class="mr-4" [mat-dialog-close]="collectionFormData.value" [disabled]="collectionFormData.invalid">Create</button>
  <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
</div>
