<section *ngIf="isDiskFavNotEmpty" >
    <div class="d-flex justify-content-between mt-8">
      <h2 >Your disks in favourites list</h2>
    </div>
  
    <div class="d-grid grid-template-columns-5 gap-2 grid-columns">
      <mat-card class="card" *ngFor="let disk of (disks$ | async)">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title class="pb-2"> {{ disk.title }} </mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <img
            mat-card-md-image
            class="mb-2"
            src="https://i.pinimg.com/736x/72/16/89/721689d187bfa32e18df03a312f6f053--musical-ly-tips-musicly-logo.jpg"
            alt="Image of a collection"
          />
        
          <a mat-button [routerLink]="['/private/collections/', collectionId, 'disks', disk.id]"
            >Go to disk details</a>
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <h3 *ngIf="isDiskFavEmpty"> You don't have any disk in favoutires list</h3>