<div *ngIf="collection$ | async as collection">
<div class="content d-flex mt-10" >
 
  <img
    mat-card-md-image
    class="image mt-10 ml-4 mb-10"
    src="https://i.pinimg.com/736x/72/16/89/721689d187bfa32e18df03a312f6f053--musical-ly-tips-musicly-logo.jpg"
    alt="Image of a collection"
  />
  <div>
    <div class="ml-10 mt-10">
      <h1>{{ collection.name }}</h1>
    </div>
    <div class="ml-10 mt-5">
      <p>type: {{ collection.type }}</p>
    </div>
    <div class="ml-10">
      <mat-icon *ngIf="!collection.visible"> lock </mat-icon>
      <mat-icon *ngIf="collection.visible"> visibility </mat-icon>
      <a mat-button (click)="addCollectiontoFav()"><mat-icon> favorite </mat-icon></a>
      <a mat-button (click)="deleteCollection()"><mat-icon> delete </mat-icon></a>
      <a mat-button [routerLink]="['/personal/collections', collectionId, 'edit']"><mat-icon> edit </mat-icon></a>
    </div>
  </div>
</div>
<div class="d-flex" *ngIf="loggedCollector.id == collection.ownerId">
  <a mat-button [routerLink]="['/personal/collections', collectionId, 'collectors']" class="mt-5" > Collectors that share the list</a>
  <a mat-button [routerLink]="['/personal/collections', collectionId,'collectors-add']" class="mt-5" [queryParams]="{collectionId: collectionId}">Add collector to share list</a>
</div>

<div class="mt-5 ml-2"> 

  <div class="d-flex" *ngIf="loggedCollector.id == collection.ownerId">
      <button mat-button [matMenuTriggerFor]="menu">Add Disk</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openImportDiskDialog()">Import disk</button>
  <button mat-menu-item (click)="openDialog()">New</button>
</mat-menu>
     
  </div>
  <h2 class="mt-6">Disks of collection :</h2>
</div>
<section >
  <div>


 <div class="d-grid grid-template-columns-5 gap-2 grid-columns">
    <mat-card class="card" *ngFor="let disk of (disks$ | async)">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="pb-2">{{disk.title}}</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <img
          mat-card-md-image
          class="mb-2"
          src="https://i.pinimg.com/736x/72/16/89/721689d187bfa32e18df03a312f6f053--musical-ly-tips-musicly-logo.jpg"
          alt="Image of a collection"
        />
        <a mat-button [routerLink]="['disks', disk.id]" [queryParams]="{ownerId: collection.ownerId}">Go to disk details</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</section>
</div>
