
<div class="mt-8" *ngIf="collection$ | async as collection">
  
  <app-back-button [url]="backUrl"></app-back-button>

  <h1 class="text-center collection-name">{{ collection.name }}</h1>
  
  <div>
    <section>
      <picture>
        <img
          class="collection-cover py-6"
          src="assets/img/default_collection.jpg"
          alt="Image of a collection"
        />
      </picture>
      <div class="collection-actions">
        <button
          (click)="addCollectiontoFav()"
          mat-icon-button
          class="mr-2"
          color="primary"
          matTooltip="Add collection to your favorite list"
        >
          <mat-icon> favorite</mat-icon>
        </button>
        <button
          [routerLink]="['edit']"
          mat-icon-button
          class="mr-2"
          matTooltip="Edit collection"
          queryParamsHandling="merge"
          *ngIf="loggedCollector.id == collection.ownerId"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="deleteCollection()"
          mat-icon-button
          class="mr-2"
          color="warn"
          matTooltip="Delete collection"
          queryParamsHandling="merge"
          *ngIf="loggedCollector.id == collection.ownerId"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          [routerLink]="['/personal/collections', collectionId, 'collectors']"
          mat-icon-button
          class="mr-2"
          color="primary"
          matTooltip="Collectors that share the list"
          queryParamsHandling="merge"
          *ngIf="loggedCollector.id == collection.ownerId"
        >
          <mat-icon>person</mat-icon>
        </button>

        <button
          [routerLink]="[
            '/personal/collections',
            collectionId,
            'collectors-add'
          ]"
          mat-icon-button
          class="mr-2"
          color="primary"
          matTooltip="Add collector to share list"
          queryParamsHandling="merge"
          *ngIf="loggedCollector.id == collection.ownerId"
        >
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
    </section>

    <section class="collection-details mt-10">
      <h2 class="collection-details__name">Details</h2>

      <div class="details">
        <div class="field">
          <p class="field-label">Type</p>
          <p class="field-value">{{ collection.type }}</p>
        </div>

        <div class="field">
          <p class="field-label">Visibility</p>
          <p class="field-value">{{ collection.visible ? 'public' : 'private' }}</p>
        </div>

        <div class="field">
          <p class="field-label">Year</p>
          <p class="field-value">{{ collection.ownerId }}</p>
        </div>
      </div>
    </section>
  </div>

  <div class="d-flex justify-content-between mt-10">
    <h2 class="collection-disk__title">Disks</h2>

    <button
      mat-raised-button
      *ngIf="loggedCollector.id == collection.ownerId"
      [matMenuTriggerFor]="menu"
      color="primary"
    >
      Add Disk
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openImportDiskDialog()" color="primary">
        Import disk
      </button>
      <button mat-menu-item (click)="openDialog()" color="primary">New</button>
    </mat-menu>
  </div>

  <section *ngIf="disks$ | async as disks" class="mb-6">
    <app-card-container>
      <app-card
        *ngFor="let disk of disks"
        [image]="'assets/img/default_disk.jpg'"
        [title]="disk.title"
        [routerLink]="['disks', disk.id]"
        [queryParams]="{ ownerId: collection.ownerId }"
      >
        <mat-icon card-icon>album</mat-icon>
      </app-card>
    </app-card-container>

  </section>
</div>
