<div class="div">
    <form [formGroup]="newTrack" class="form-container">
        <mat-card>
          <mat-card-header>
            <mat-card-title>New Track</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                   
                    <input title="title" matInput placeholder="Title" required = "true">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                    <input artist="artist" matInput placeholder="Artist">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input album="album" matInput placeholder="Album">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input band="band" matInput placeholder="Band">
                    </mat-form-field>
                  </div>
                <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input compositor="compositor" matInput placeholder="Compositor">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input time="time" matInput placeholder="Time">
                </mat-form-field>
              </div>

            <mat-card-actions>
            <button (click)="onSubmit()" mat-raised-button color="primary">Create</button>
          </mat-card-actions>
      </div>
     </mat-card-content>
        </mat-card>
      </form>
    </div>