<section>
  <h2 class="text-center pt-8 pb-4 bold font-monserrat">Collectors that share your collection</h2>

  <ng-container *ngIf="collectors$ | async as collectors">
    <ng-container *ngIf="collectors.length; else noCollectors">
      <section class="pb-6">
        <app-card-container>
          <app-card
            *ngFor="let collector of collectors"
            [image]="'assets/img/default_avatar.jpg'"
            [title]="collector.username"
            [routerLink]="['/collectors', collector.id]"
          >
            <mat-icon card-icon>person</mat-icon>
            <div actions>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteCollectorFromMyCollection(collector.id, $event)"
              >
                <mat-icon> delete </mat-icon>
              </button>
            </div>
          </app-card>
        </app-card-container>
      </section>
    </ng-container>
  </ng-container>
</section>

<ng-template #noCollectors>
  <div class="d-flex justify-content-center mt-8">
    <h2>There are no collectors in shared list</h2>
  </div>
</ng-template>
