
a:hover, a:active {
    color: lightgray;
  }
  
  
  mat-toolbar {
    background-color: #1c255a;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: flex-end;  
  }

  .c {
    align-content: space-between;
   
 
  }

  .logo {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
  }

  .color {
    color: white;
  }