<div class="c">
  <mat-toolbar>
    <button (click)="toggleSideNav.emit()" class="mr-3" mat-icon-button *ngIf="isMobile">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="logo pl-1" [routerLink]="['']">
      <div>Collector's Site</div>
    </a>

    <div class="container">
      <a mat-button [routerLink]="['auth/login']">
        <div>login</div>
      </a>
      <a mat-button [routerLink]="['auth/registration']">
        <div>sign up</div>
      </a>
    </div>
  </mat-toolbar>
</div>
