
a:hover, a:active {
    color: lightgray;
  }
  
  
  mat-toolbar {
    background-color: #8a98e7;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: flex-end;  
  }

  .c {
    align-content: space-between;
   
 
  }

  .logo {
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
  }