<section>
  <h2 class="text-center py-8 bold font-monserrat">
    Your Favourites collections
  </h2>

  <ng-container *ngIf="collectionsFavourites$ | async as favCollections">
    <ng-container *ngIf="favCollections.length; else noFavCollections">
      <section class="pb-6">
        <app-card-container>
          <app-card
            *ngFor="let collection of favCollections"
            [image]="'assets/img/default_collection.jpg'"
            [title]="collection.name"
            [routerLink]="['/personal/collections', collection.id]"
          >
            <mat-icon card-icon>library_books</mat-icon>
            <div actions>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteCollectionFromFav(collection.id, $event)"
              >
                <mat-icon> delete </mat-icon>
              </button>
            </div>
          </app-card>
        </app-card-container>
      </section>
    </ng-container>
  </ng-container>
</section>

<ng-template #noFavCollections>
  <div class="d-flex justify-content-center mt-8">
    <h3 class="text-center">
      You don't have any collections in favourites list
    </h3>
  </div>
</ng-template>
