<div class="div">
    <form [formGroup]="new" class="form-container">
        <mat-card>
          <mat-card-header>
            <mat-card-title>New Disk</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                   
                    <input title="title" matInput placeholder="Title" required = "true">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                    <input author="author" matInput placeholder="Author">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input label="label" matInput placeholder="Publishing house">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input state="state" matInput placeholder="State">
                    </mat-form-field>
                  </div>
                <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input format="format" matInput placeholder="Format">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input barcode="barcode" matInput placeholder="Barcode">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input duplicate="duplicate" matInput placeholder="Duplicate">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input year="year" matInput placeholder="Year">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input genre="genre" matInput placeholder="Genre">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input band="band" matInput placeholder="Band">
                </mat-form-field>
              </div>
            </div>
            </mat-card-content>
            <mat-card-actions>
            <button (click)="onSubmit()" mat-raised-button color="primary">Create</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>