<h1 class="text-center pt-8 pb-4 bold font-monserrat">Add collector to share list</h1>

<div class="d-flex justify-content-center pb-8">
  <mat-form-field class="searchbar">
    <mat-label>Search collector</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="text" [formControl]="searchControl" />
  </mat-form-field>
</div>

<ng-container *ngIf="collectors$ | async as collectors">
  <section
    *ngIf="collectors.content.length; else noCollectorsAvailable"
    class="search-result-container"
  >
    <div class="search-result">
      <section class="pb-6">
        <app-card-container>
          <app-card
            *ngFor="let collector of collectors.content"
            [image]="'assets/img/default_avatar.jpg'"
            [title]="collector.name"
            (click)="shareWithCollector(collector.id, $event)"
          >
            <mat-icon card-icon>person</mat-icon>
            <div actions>
              <button
                mat-icon-button
                color="primary"
                (click)="shareWithCollector(collector.id, $event)"
              >
                <mat-icon>share</mat-icon>
              </button>
            </div>
          </app-card>
        </app-card-container>
      </section>
    </div>

    <!-- <mat-paginator
      [pageSize]="pageSize"
      [hidePageSize]="true"
      [length]="collectors.totalElements"
      (page)="handlePageChange($event)"
    ></mat-paginator> -->
  </section>
</ng-container>

<ng-template #noCollectorsAvailable>
  <h2>There are no available collectors!</h2>
</ng-template>
