<div class="search">
  <app-search-bar></app-search-bar>
</div>
<div class="container">
  <div>
    <router-outlet> </router-outlet>
  </div>
</div>

<section>
  <div class="d-flex justify-content-between">
    <h2>Public collections</h2>
    <a mat-button routerLink="['collections']">See all</a>
  </div>

  <div class="d-grid grid-template-columns-5 gap-2 grid-columns">
    <mat-card class="card" *ngFor="let collection of [1, 2, 3, 4]">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Pop</mat-card-title>
          <mat-card-subtitle>Lady Gaga- Michael Jackson</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <img
          mat-card-md-image
          src="https://i.pinimg.com/736x/72/16/89/721689d187bfa32e18df03a312f6f053--musical-ly-tips-musicly-logo.jpg"
          alt="Image of a collection"
        />
        <p>number of disks: 50</p>
        <a mat-button [routerLink]="['disks']"> Go to all disks</a>
      </mat-card-content>
    </mat-card>
  </div>
</section>
