<div class="search">
  <ng-container *ngIf="{logged: (isCollectorLogged$ | async)} as isCollector">
    <app-search-bar (searchEvent)="onValueChanges($event)"  [isCollectorLogged]="!!isCollector.logged"></app-search-bar>
  </ng-container>
</div>
<div class="container">
  <div>
    <router-outlet> </router-outlet>
  </div>
</div>

<section>
  <div class="d-flex justify-content-between">
    <h2>Public collections</h2>
    <a mat-stroked-button [routerLink]="['/collections']">See all</a>
  </div>

  <div class="d-grid grid-template-columns-5 gap-2 grid-columns">
    <ng-container *ngFor="let item of results$ | async">
      <ng-container
        [ngTemplateOutlet]="collectionCard"
        [ngTemplateOutletContext]="{ $implicit: item }"
        *ngIf="isCollection(item)"
      >
      </ng-container>

      <ng-container
        [ngTemplateOutlet]="collectorCard"
        [ngTemplateOutletContext]="{ $implicit: item }"
        *ngIf="isCollector(item)"
      >
      </ng-container>

      <ng-container
        [ngTemplateOutlet]="diskCard"
        [ngTemplateOutletContext]="{ $implicit: item }"
        *ngIf="isDisk(item)"
      >
      </ng-container>
    </ng-container>
  </div>
</section>

<ng-template #collectionCard let-collection>

 <mat-card class="card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-icon>library_books</mat-icon>
          <mat-card-title class="pb-2"> {{ collection.name }} </mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <img
          mat-card-md-image
          class="mb-2"
          src="https://img4.goodfon.com/wallpaper/nbig/9/f2/plastinki-vinil-retro.jpg"
          alt="Image of a collection"
        />

        <a
          mat-button
          [routerLink]="['/collections', collection.id]"
        >
          Go to collection details</a
        >
      </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #diskCard let-disk>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title-group>
      
        <mat-card-title class="pb-2"> {{ disk.title }} </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <img
        mat-card-md-image
        class="mb-2"
        src="https://i.pinimg.com/736x/72/16/89/721689d187bfa32e18df03a312f6f053--musical-ly-tips-musicly-logo.jpg"
        alt="Image of a collection"
      />

      <a
        mat-button
        [routerLink]="['/collections', disk.collectionId]"
      >
        Go to disk details</a
      >
    </mat-card-content>
  </mat-card>

</ng-template>

<ng-template #collectorCard let-collector>
  
  <mat-card class="card">
    <mat-card-header>
      <p style="flex: 1">{{collector.email}}</p>
      <mat-icon>person</mat-icon>
      <!-- <mat-card-title-group>
        <mat-card-title class="pb-2"> {{ collector.email | uppercase }} </mat-card-title>
      </mat-card-title-group> -->
    </mat-card-header>
    <mat-card-content>
      <img
        mat-card-md-image
        class="mb-2"
        src="https://i.pinimg.com/736x/72/16/89/721689d187bfa32e18df03a312f6f053--musical-ly-tips-musicly-logo.jpg"
        alt="Image of a collection"
      />

      <a
        mat-button
        [routerLink]="['/personal/profile']"
      >
        Go to collector details</a
      >
    </mat-card-content>
  </mat-card>


</ng-template>
