<div class="search">
  <ng-container *ngIf="{ logged: (isCollectorLogged$ | async) } as isCollector">
    <app-search-bar
      (searchEvent)="onValueChanges($event)"
      [isCollectorLogged]="!!isCollector.logged"
    ></app-search-bar>
  </ng-container>
</div>
<div class="container">
  <div>
    <router-outlet> </router-outlet>
  </div>
</div>

<section>
  <div class="d-flex justify-content-between">
    <h2>Public collections</h2>
  </div>

  <section *ngIf="results$ | async as results" class="my-10">

    <app-card-container>
      <ng-container *ngFor="let item of results">
        <ng-container
          [ngTemplateOutlet]="collectionCard"
          [ngTemplateOutletContext]="{ $implicit: item }"
          *ngIf="isCollection(item)"
        >
        </ng-container>
  
        <ng-container
          [ngTemplateOutlet]="collectorCard"
          [ngTemplateOutletContext]="{ $implicit: item }"
          *ngIf="isCollector(item)"
        >
        </ng-container>
  
        <ng-container
          [ngTemplateOutlet]="diskCard"
          [ngTemplateOutletContext]="{ $implicit: item }"
          *ngIf="isDisk(item)"
        >
        </ng-container>
      </ng-container>
    </app-card-container>
  </section>

</section>

<ng-template #collectionCard let-collection>
  <app-card
    image="assets/img/default_collection.jpg"
    [title]="collection.name"
    [routerLink]="['/collections', collection.id]"
    [queryParams]="{ ownerId: collection.ownerId }"
  >
    <mat-icon card-icon>library_books</mat-icon>
  </app-card>

</ng-template>

<ng-template #diskCard let-disk>
  <app-card
    image="assets/img/default_disk.jpg"
    [title]="disk.title"
    [routerLink]="['/collections', disk.collectionId, 'disks', disk.id]"
  >
    <mat-icon card-icon>album</mat-icon>
  </app-card>

</ng-template>

<ng-template #collectorCard let-collector>
  <app-card
    [image]="getCollectorImageOrDefault(collector)"
    [title]="collector.email"
    [routerLink]="['/collectors', collector.id]"
  >
    <mat-icon card-icon>person</mat-icon>
  </app-card>

</ng-template>
