<section>
    <div class="d-flex justify-content-between mt-8">
      <h2>Collection shared with me</h2>
      <button mat-stroked-button [routerLink]="['/private/collections']">See all</button>
    </div>
    <div class="d-flex">
      <!-- <button mat-raised-button (click)="openDialog()">
        Add Collection <mat-icon>add</mat-icon>
      </button> -->
    </div>
    <div class="d-grid grid-template-columns-5 gap-2 grid-columns">
      <mat-card class="card" *ngFor="let collection of (collections$ | async)">
        
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title class="pb-2"> {{ collection.name }} </mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <img
            mat-card-md-image
            class="mb-2"
            src="https://i.pinimg.com/736x/72/16/89/721689d187bfa32e18df03a312f6f053--musical-ly-tips-musicly-logo.jpg"
            alt="Image of a collection"
          />
  

          <a mat-button [routerLink]="[isPrivateOrPublic,'collections', collection.id]" [queryParams]="{ isPublic: collection.visible}">
            Go to collections details
          </a>
        </mat-card-content>
      </mat-card>
    </div>
  </section>