<section>
  <h2 class="text-center py-8 bold font-monserrat">
    Your disks in favourites list
  </h2>
  <ng-container *ngIf="disks$ | async as _disks">
    <ng-container *ngIf="_disks.length; else noAvailableFavDisks">
      <section class="pb-6">
        <app-card-container>
          <app-card
            *ngFor="let disk of _disks"
            [image]="'assets/img/default_disk.jpg'"
            [title]="disk.title"
            [routerLink]="[
              '/personal/collections/',
              disk.collectionId,
              'disks',
              disk.id
            ]"
            [queryParams]="{ ownerId: collectorId }"
          >
            <mat-icon card-icon>album</mat-icon>
            <div actions>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteDiskFromFav(collectorId, disk.id, $event)"
              >
                <mat-icon> delete </mat-icon>
              </button>
            </div>
          </app-card>
        </app-card-container>
      </section>
    </ng-container>
  </ng-container>
</section>

<ng-template #noAvailableFavDisks>
  <div class="d-flex justify-content-center mt-8">
    <h3 class="text-center">You don't have any disks in favourites list</h3>
  </div>
</ng-template>
