<div class="mt-8" *ngIf="disk$ | async as disk">
  <h1 class="text-center disk-title">{{ disk.title }}</h1>
  <div>
    <section>
      <picture>
        <img
          mat-card-md-image
          class="disk-cover py-6"
          [src]="imageUrl"
          alt="Image of a Disk"
        />
      </picture>

      <div class="disk-actions">
        <button (click)="addDiskToFav()" mat-icon-button class="mr-2" color="primary" matTooltip="Add disks to your favorite list">
          <mat-icon> favorite</mat-icon>
        </button>
        <button [routerLink]="['edit']" mat-icon-button class="mr-2" matTooltip="Edit disk"><mat-icon>edit</mat-icon></button>
        <button (click)="deleteDisk()" mat-icon-button class="mr-2" color="warn" matTooltip="Delete disk">
          <mat-icon>delete</mat-icon>
        </button>

        <button 
          matTooltip="Upload or see all images"
          mat-icon-button 
          [routerLink]="['images']" 
          *ngIf="isOwner()"
        >
          <mat-icon>image</mat-icon>
        </button>

      </div>
    </section>

    <!-- <a mat-button [routerLink]="['images']" *ngIf="isOwner()"
      >Upload or see all images</a
    > -->

    <section class="disk-details">
      <h2 class="disk-details__title">Details</h2>

      <div class="details">

        <div class="field">
          <p class="field-label">Artist</p>
          <p class="field-value">{{ disk.artist }}</p>
        </div>

        <div class="field">
          <p class="field-label">Band</p>
          <p class="field-value">{{ disk.band }}</p>
        </div>

        <div class="field">
          <p class="field-label">Year</p>
          <p class="field-value">{{ disk.year }}</p>
        </div>


        <div class="field">
          <p class="field-label">Author</p>
          <p class="field-value">{{ disk.author }}</p>
        </div>


        <div class="field">
          <p class="field-label">Format</p>
          <p class="field-value">{{ disk.format }}</p>
        </div>


        <div class="field">
          <p class="field-label">Genre</p>
          <p class="field-value">{{ disk.genre }}</p>
        </div>


        <div class="field">
          <p class="field-label">Publishing house</p>
          <p class="field-value">{{ disk.label }}</p>
        </div>

        <div class="field">
          <p class="field-label">State</p>
          <p class="field-value">{{ disk.state }}</p>
        </div>

        <div class="field">
          <p class="field-label">Duplicates</p>
          <p class="field-value">{{ disk.duplicate }}</p>
        </div>

        <div class="field">
          <p class="field-label">Barcode</p>
          <p class="field-value">{{ disk.barcode }}</p>
        </div>

      </div>

    </section>
  </div>

  <div class="mt-10 d-flex justify-content-between">
    <h2 class="disk-track__title">Tracks</h2>
    <button
      mat-raised-button
      (click)="openDialog()"
      *ngIf="isOwner()"
      color="primary"
    >
      Add Track <mat-icon>add</mat-icon>
    </button>
  </div>

  <section>
    <div class="d-grid grid-template-columns-5 gap-2 grid-columns">
      <mat-card class="card" *ngFor="let track of tracks$ | async">
        <mat-card-header>
          <mat-card-title-group>
            <mat-icon>art_track</mat-icon>
            <mat-card-title class="pb-2">{{ track.title }}</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <img
            mat-card-md-image
            class="mb-2"
            src="https://i.pinimg.com/736x/72/16/89/721689d187bfa32e18df03a312f6f053--musical-ly-tips-musicly-logo.jpg"
            alt="Image of a collection"
          />
          <a mat-button [routerLink]="['tracks', track.id]" queryParamsHandling="merge">
            Go to track details</a
          >
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>
