<section>
  <div class="d-flex justify-content-between mt-8">
    <h2>Your collections</h2>
    <button mat-raised-button color="primary" (click)="openDialog()">
      Add Collection
    </button>
  </div>

  <ng-container *ngIf="collections$ | async as collections">
    <ng-container *ngIf="collections.length; else noCollections">
      <section class="pb-8">
        <app-card-container>
          <app-card
            *ngFor="let collection of collections"
            image="assets/img/default_collection.jpg"
            [title]="collection.name"
            [routerLink]="[collection.id]"
            [queryParams]="{ownerId: collection.ownerId}"
          >
            <mat-icon card-icon>library_books</mat-icon>
          </app-card>
        </app-card-container>
    
      </section>
    </ng-container>
  </ng-container>
</section>

<ng-template #noCollections>
  <div class="d-flex justify-content-center">
    <h2>You don't have any collections</h2>
  </div>
</ng-template>