.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}


.d-grid {
  display: grid;
}

.d-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@for $i from 1 through 12 {
  .grid-template-columns-#{$i} {
    grid-template-columns: repeat(#{$i}, 1fr);
  }
}

@for $i from 1 through 10 {
  .gap-#{$i} {
    gap: #{$i}em;
  }
}
