.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.w-100 {
  width: 100%;
}

$directions: (
  "between": space-between,
  "end": flex-end,
  "start": flex-start,
  "center": center,
);

@each $name, $value in $directions {
  .justify-content-#{$name} {
    justify-content: $value;
  }
}

.align-items-center {
  align-items: center!important;
}

.flex-column {
  flex-direction: column!important;
}


@for $i from 1 through 12 {
  .grid-template-columns-#{$i} {
    grid-template-columns: repeat(#{$i}, 1fr);
  }
}
@for $i from 1 through 12 {
  .grid-template-rows-#{$i} {
    grid-template-rows: repeat(#{$i}, 1fr);
  }
}

@for $i from 1 through 10 {
  .gap-#{$i} {
    gap: #{$i}em;
  }
}
